@tailwind base;
@tailwind components;
@tailwind utilities;

/***__ import de styles padrão__***/
@import url('../assets/css/button.css');
@import url('../assets/css/color.css');

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f2e3e2;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #205266;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0B2C73;
}
