/* input */

/* Prefix */
.prefix {
  position: absolute;
  left: 0;
  translate: 8px;
}

/* Suffix */
.suffix {
  position: absolute;
  right: 0;
  translate: -8px;
}

/* Addon */
.addon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

.before {
  border-radius: 8px 0 0 8px;
}

.after {
  border-radius: 0 8px 8px 0;
}
